/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
}

.cabecalho {
  background-color: #379ABC;
  align-items: center;
  text-align: center;

  & p:first-of-type {
  color: red;
  font-size: 32px;
  font-weight: bold;
  }

  & p {
    color: orange;
  }
}

.conteudo {
  background-color: azure;
  color: gray;

  & p {
    color: #E4005A;
    font-size: 42px;
  }

  & p:nth-child(4) {
    color: purple;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    background-color: lightblue;
  }
}